@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta la scrollbar en todos los navegadores */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
